// place your custom styles here
$primary-color: #df451b;

html[data-theme=dark] {
  --bg-color: #212121;
  --sidebar-bg-color: #202020;
}

html[data-theme=light] {
  --bg-color: #fcfcfc;
}

.suggestions {
  position: fixed !important;
  left: 18vw !important;
  top: calc(var(--navbar-line-height) + 7px) !important;
  max-width: 100% !important;
}


#app {
  --code-tabs-nav-text-color: #ddd;
 }

.hero-info-wrapper {
  flex-direction: column;
  img {
    margin-top: 40px;
    max-height: 128px;
  }
  h1 {
    font-family: 'Quotes, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;';
    font-size: 75px;
    background-image: linear-gradient(315deg,#d34242 25%,#ffb405);
    background-clip: text;
    color: transparent;
    font-weight: 900;
    @media screen and (max-width: 768px) {
      font-size: 50px;
    }

  }
  .description, h1 {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .hero-info {
    display: flex;
    flex-direction: column;
    align-items:center;
  }
}

.feature-item {
  .icon {
    color: #464356
  }
}


.home {
  .action-button {
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 0.8rem 1.6rem;
  }
  .action-button.primary {
    background-image: linear-gradient(130deg, #c33732, $primary-color);
  }
  .action-button.primary:hover {
    background-image: repeating-linear-gradient(130deg, $primary-color, #ff3c10);
  }

  .action-button.default {
    border: 1px solid $primary-color;
    color: $primary-color;
  }

  .action-button.default:hover {
    border: 1px solid $primary-color;
    color: var(--white);
    background-color: $primary-color;
  }
  
}

.mermaid-wrapper {
  .node {
    rect, circle {
      fill: rgb(247, 175, 170) !important;
      stroke: rgb(200, 69, 60) !important;
    }
  }
  
  .edgeLabel {
    background-color: #eee !important;
    color: #666 !important;
  }
}

html[data-theme=dark] {
  .mermaid-wrapper {
    .node {
      rect, circle {
        fill: rgb(239, 105, 96) !important;
      }
    }
    .edgeLabel {
      background-color: #333 !important;
      color: #aaa !important;
    }
  }
  
  
}